
axes.formatter.limits: -10, 12
axes.grid: True
axes.grid.which: both
axes.spines.bottom: False
axes.spines.left:   True  # display axis spines
axes.spines.right:  False
axes.spines.top:    False
figure.constrained_layout.use: True
figure.titleweight: bold
savefig.pad_inches:0.5