savefig.pad_inches:0.5
legend.fontsize:medium
legend.labelcolor:linecolor
legend.handleheight:2
legend.handlelength:2
legend.frameon:False
legend.loc:center
figure.autolayout: True
figure.figsize: 20,14
